* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body { 
	height: 100vh; 
	width: 100vw; 
	background-image: linear-gradient( 
			to top, #ffda77, #ffa45b); 
	display: flex; 
	justify-content: center; 
	align-items: center; 
} 

.nocursor{
	cursor:none;
}

.board { 
	height: 85vh; 
	width: 80vw; 
	background-image: linear-gradient( to right , #e67e22   ,   #27ae60 ); 
	border-radius: 14px; 
} 

.ball { 
	height: 30px; 
	width: 30px; 
	border-radius: 50%; 
	position: fixed; 
	top: calc(50% - 15px); 
	left: calc(50% - 15px); 
} 

.ball_effect { 
	height: 100%; 
	width: 100%; 
	border-radius: 100px; 
	animation: spinBall .5s linear infinite; 
	box-shadow: inset 0 0 18px  #2980b9 , 
		inset 6px 0 18px  #c0392b , 
		inset -6px 0 18px  #2980b9 , 
		inset 6px 0 30px  #c0392b , 
		inset -6px 0 30px  #2980b9 , 
		0 0 18px  #2980b9 , -4px 0 18px 
		 #2980b9 , 4px 0 18px #c0392b ; 
} 

@keyframes spinBall { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform: rotate(360deg); 
	} 
} 

.paddle { 
	height: 100px; 
	width: 18px; 
	border-radius: 50%; 
	position: fixed; 
} 

.paddle_1 { 
	top: calc(7.5vh + 55px); 
	left: calc(10vw + 30px); 
	box-shadow: inset 0 0 18px #00e4ff, 
		inset -6px 0 18px #4273f8, 
		inset 6px 0 18px #00f0f0, 
		inset -6px 0 30px #4273f8, 
		inset 6px 0 30px #00f0f0, 
		0 0 18px #00e4ff, 4px 0 18px 
		#4273f8, -4px 0 18px #00f0f0; 
} 

.paddle_2 { 
	top: calc(85vh + 7.5vh - 100px - 55px); 
	right: calc(10vw + 30px); 
	box-shadow: inset 0 0 18px #e7073d, 
		inset 6px 0 18px #cf0a0a, 
		inset -6px 0 18px #fd1a1a, 
		inset 6px 0 30px #cf0a0a, 
		inset -6px 0 30px #fd1a1a, 
		0 0 18px #e7073d, -4px 0 18px 
		#cf0a0a, 4px 0 18px #fd1a1a; 
} 

.player_1_score { 
	height: 50px; 
	width: 50px; 
	color: CYAN; 
	position: fixed; 
	left: 30vw; 
	margin-top: 30px; 
} 

.player_2_score { 
	height: 50px; 
	width: 50px; 
	color: RED; 
	position: fixed; 
	left: 70vw; 
	margin-top: 30px; 
} 

.message { 
	position: fixed; 
	height: 10vh; 
	width: 30vw; 
	color: #f7dc6f; 
	left: 38vw; 
	margin: 30px auto auto auto; 
} 
